openapi: 3.0.3

info:
  title: FocusNFe API - Empresas
  description: |
    Endpoints para gerenciamento de empresas (revenda).
    Todos os endpoints requerem autenticação com **master key**.
  version: 2.0.0
  contact:
    name: FocusNFe
    url: https://focusnfe.com.br

servers:
  - url: https://api.focusnfe.com.br/v2
    description: Produção (único ambiente disponível para empresas)

security:
  - basicAuth: []

paths:
  /empresas:
    get:
      operationId: listarEmpresas
      summary: Listar empresas
      description: |
        Lista as empresas cadastradas na revenda. Retorna até 50 registros por página.
        O header `X-Total-Count` indica o total de registros disponíveis.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/listarempresas
      parameters:
        - name: cnpj
          in: query
          description: Filtrar por CNPJ (somente números, 14 dígitos)
          schema:
            type: string
            pattern: '^[0-9]{14}$'
        - name: cpf
          in: query
          description: Filtrar por CPF (somente números, 11 dígitos)
          schema:
            type: string
            pattern: '^[0-9]{11}$'
        - name: offset
          in: query
          description: Deslocamento para paginação (cada página retorna até 50 registros)
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Lista de empresas
          headers:
            X-Total-Count:
              description: Total de registros disponíveis
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado (master key inválida ou ausente)
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'

    post:
      operationId: criarEmpresa
      summary: Criar empresa
      description: |
        Cria uma nova empresa na revenda. Use `dry_run=1` para simular a criação
        sem persistir os dados no banco.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/criarempresa
      parameters:
        - name: dry_run
          in: query
          description: Simular criação sem persistir (1 = simulação)
          schema:
            type: integer
            enum: [1]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaRequest'
      responses:
        '200':
          description: Empresa criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '422':
          description: Erro de validação (certificado inválido, CNPJ incompatível, certificado expirado, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'

  /empresas/{id}:
    get:
      operationId: consultarEmpresa
      summary: Consultar empresa por ID
      description: Retorna os dados completos de uma empresa específica.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/consultarempresaporid
      parameters:
        - $ref: '#/components/parameters/empresaId'
      responses:
        '200':
          description: Dados da empresa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrada
        '422':
          description: Permissão negada (empresa não pertence à revenda)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: Empresa não encontrada como propriedade da revenda

    put:
      operationId: atualizarEmpresa
      summary: Atualizar empresa
      description: |
        Atualiza os dados de uma empresa. Todos os campos são opcionais;
        apenas os campos enviados serão atualizados.
        Use `dry_run=1` para simular a atualização.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/atualizarempresa
      parameters:
        - $ref: '#/components/parameters/empresaId'
        - name: dry_run
          in: query
          description: Simular atualização sem persistir
          schema:
            type: integer
            enum: [1]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaRequest'
      responses:
        '200':
          description: Empresa atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrado
        '422':
          description: Erro de validação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'

    delete:
      operationId: excluirEmpresa
      summary: Excluir empresa
      description: |
        Remove permanentemente uma empresa da revenda.
        **Esta operação não é reversível.**
        Retorna os dados completos da empresa excluída.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/excluirempresa
      parameters:
        - $ref: '#/components/parameters/empresaId'
      responses:
        '200':
          description: Empresa excluída (retorna dados da empresa removida)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrada

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Autenticação via HTTP Basic Auth com **master key**.
        Utilize o master token como usuário e deixe a senha em branco.

  parameters:
    empresaId:
      name: id
      in: path
      required: true
      description: Identificador único da empresa
      schema:
        type: string
      example: '123'

  schemas:
    EmpresaRequest:
      type: object
      description: Dados para criação ou atualização de empresa. Todos os campos são opcionais na atualização.
      properties:
        # ── Dados básicos ──
        nome:
          type: string
          description: Razão social da empresa
        nome_fantasia:
          type: string
          description: Nome fantasia
        cnpj:
          type: string
          description: CNPJ da empresa (somente números)
        cpf:
          type: string
          description: CPF (para pessoa física, somente números)
        inscricao_estadual:
          type: integer
          description: Inscrição estadual
        inscricao_municipal:
          type: integer
          description: Inscrição municipal
        regime_tributario:
          type: integer
          enum: [1, 2, 3, 4]
          description: |
            Regime tributário:
            - `1` - Simples Nacional
            - `2` - Simples Nacional (excesso de sublimite)
            - `3` - Regime Normal
            - `4` - MEI

        # ── Endereço ──
        logradouro:
          type: string
          description: Logradouro
        numero:
          type: integer
          description: Número
        complemento:
          type: string
          description: Complemento
        bairro:
          type: string
          description: Bairro
        municipio:
          type: string
          description: Nome do município
        cep:
          type: integer
          description: CEP (somente números)
        uf:
          type: string
          description: UF do endereço

        # ── Contato ──
        telefone:
          type: string
          description: Telefone da empresa
        email:
          type: string
          format: email
          description: E-mail de contato

        # ── Habilitações de documentos ──
        habilita_nfe:
          type: boolean
          description: Habilitar emissão de NFe (modelo 55)
        habilita_nfce:
          type: boolean
          description: Habilitar emissão de NFCe (modelo 65)
        habilita_nfse:
          type: boolean
          description: Habilitar emissão de NFSe (não pode coexistir com `habilita_nfsen_producao`)
        habilita_nfsen_producao:
          type: boolean
          description: Habilitar NFSe Nacional em produção
        habilita_nfsen_homologacao:
          type: boolean
          description: Habilitar NFSe Nacional em homologação
        habilita_cte:
          type: boolean
          description: Habilitar emissão de CTe/CTeOS
        habilita_mdfe:
          type: boolean
          description: Habilitar emissão de MDFe
        habilita_nfcom:
          type: boolean
          description: Habilitar emissão de NFCom
        habilita_manifestacao:
          type: boolean
          description: Habilitar busca de manifestação de NFe recebida
        habilita_manifestacao_cte:
          type: boolean
          description: Habilitar busca de CTe recebido
        habilita_nfsen_recebidas_producao:
          type: boolean
          description: Habilitar consulta de NFSe Nacional recebidas em produção
        habilita_nfsen_recebidas_homologacao:
          type: boolean
          description: Habilitar consulta de NFSe Nacional recebidas em homologação

        # ── Comunicação ──
        enviar_email_destinatario:
          type: boolean
          description: Habilitar envio de e-mail ao destinatário/tomador após emissão
        enviar_email_homologacao:
          type: boolean
          description: Habilitar envio de e-mail em homologação
        discrimina_impostos:
          type: boolean
          description: Habilitar cálculo automático de impostos totais aproximados

        # ── NFCe ──
        habilita_contingencia_offline_nfce:
          type: boolean
          description: Habilitar contingência offline para NFCe
        reaproveita_numero_nfce_contingencia:
          type: boolean
          description: Reaproveitar números de NFCe em contingência
        csc_nfce_producao:
          type: string
          description: CSC para NFCe em produção
        id_token_nfce_producao:
          type: integer
          description: ID do token CSC em produção
        csc_nfce_homologacao:
          type: string
          description: CSC para NFCe em homologação
        id_token_nfce_homologacao:
          type: integer
          description: ID do token CSC em homologação

        # ── DANFE ──
        orientacao_danfe:
          type: string
          enum: [portrait, landscape]
          description: Orientação do DANFE
        recibo_danfe:
          type: boolean
          description: Exibir recibo no DANFE
        exibe_sempre_ipi_danfe:
          type: boolean
          description: Sempre exibir colunas de IPI no DANFE
        exibe_issqn_danfe:
          type: boolean
          description: Exibir dados de ISSQN no DANFE
        exibe_impostos_adicionais_danfe:
          type: boolean
          description: Exibir impostos adicionais no DANFE
        exibe_rastro_danfe:
          type: boolean
          description: Exibir rastreabilidade no DANFE
        exibe_unidade_tributaria_danfe:
          type: boolean
          description: Exibir unidade tributária no DANFE
        exibe_sempre_volumes_danfe:
          type: boolean
          description: Sempre exibir volumes no DANFE
        exibe_composicao_carga_mdfe:
          type: boolean
          description: Exibir composição de carga no MDFe
        mostrar_danfse_badge:
          type: boolean
          description: Exibir badge do Focus no DANFSe

        # ── Numeração de documentos ──
        proximo_numero_nfe_producao:
          type: string
        proximo_numero_nfe_homologacao:
          type: string
        serie_nfe_producao:
          type: string
          default: '1'
        serie_nfe_homologacao:
          type: string
          default: '1'
        proximo_numero_nfce_producao:
          type: string
        proximo_numero_nfce_homologacao:
          type: string
        serie_nfce_producao:
          type: string
          default: '1'
        serie_nfce_homologacao:
          type: string
          default: '1'
        proximo_numero_nfse_producao:
          type: string
        proximo_numero_nfse_homologacao:
          type: string
        serie_nfse_producao:
          type: string
        serie_nfse_homologacao:
          type: string
        proximo_numero_nfsen_producao:
          type: string
        proximo_numero_nfsen_homologacao:
          type: string
        serie_nfsen_producao:
          type: string
        serie_nfsen_homologacao:
          type: string
        proximo_numero_cte_producao:
          type: string
        proximo_numero_cte_homologacao:
          type: string
        serie_cte_producao:
          type: string
          default: '1'
        serie_cte_homologacao:
          type: string
          default: '1'
        proximo_numero_cte_os_producao:
          type: string
        proximo_numero_cte_os_homologacao:
          type: string
        serie_cte_os_producao:
          type: string
          default: '1'
        serie_cte_os_homologacao:
          type: string
          default: '1'
        proximo_numero_mdfe_producao:
          type: string
        proximo_numero_mdfe_homologacao:
          type: string
        serie_mdfe_producao:
          type: string
          default: '1'
        serie_mdfe_homologacao:
          type: string
          default: '1'
        proximo_numero_nfcom_producao:
          type: string
        proximo_numero_nfcom_homologacao:
          type: string
        serie_nfcom_producao:
          type: string
          default: '1'
        serie_nfcom_homologacao:
          type: string
          default: '1'

        # ── Certificado digital ──
        arquivo_certificado_base64:
          type: string
          format: byte
          description: Arquivo PFX/P12 do certificado digital em base64
        senha_certificado:
          type: string
          description: Senha do certificado digital (obrigatório quando enviar certificado)

        # ── Logo ──
        arquivo_logo_base64:
          type: string
          format: byte
          description: Logo em PNG (máx. 200x200px) codificado em base64
        delete_logo:
          type: boolean
          description: Remover logo existente

        # ── Responsável ──
        nome_responsavel:
          type: string
          description: Nome do responsável
        cpf_responsavel:
          type: string
          description: CPF do responsável
        login_responsavel:
          type: string
          description: Login da prefeitura (para municípios que exigem)
        senha_responsavel:
          type: string
          description: Senha da prefeitura (não retornada na resposta por segurança)
        senha_responsavel_preenchida:
          type: boolean
          description: Indica se a senha do responsável está preenchida

        # ── Contabilidade ──
        cpf_cnpj_contabilidade:
          type: string
          description: CPF/CNPJ da contabilidade
        data_inicio_recebimento_nfe:
          type: string
          format: date
          description: Data de início de recebimento de NFe (imutável após definida)
        data_inicio_recebimento_cte:
          type: string
          format: date
          description: Data de início de recebimento de CTe (imutável após definida)

        # ── SMTP ──
        smtp_endereco:
          type: string
          description: Endereço do servidor SMTP
        smtp_dominio:
          type: string
          description: Domínio HELO do SMTP
        smtp_porta:
          type: integer
          description: Porta do servidor SMTP
        smtp_autenticacao:
          type: string
          enum: [plain, login, cram_md5]
          description: Método de autenticação SMTP
        smtp_login:
          type: string
          description: Login de autenticação SMTP
        smtp_senha:
          type: string
          description: Senha SMTP
        smtp_remetente:
          type: string
          description: Endereço "de" do e-mail
        smtp_responder_para:
          type: string
          description: Endereço de resposta (reply-to)
        smtp_modo_verificacao_openssl:
          type: string
          enum: [peer, none]
          description: Modo de verificação OpenSSL
        smtp_habilita_starttls:
          type: boolean
          description: Habilitar STARTTLS
        smtp_ssl:
          type: boolean
          description: Usar conexão SSL
        smtp_tls:
          type: boolean
          description: Usar conexão TLS

        # ── Processamento síncrono ──
        nfe_sincrono:
          type: boolean
          description: Emissão síncrona de NFe em produção
        nfe_sincrono_homologacao:
          type: boolean
          description: Emissão síncrona de NFe em homologação
        mdfe_sincrono:
          type: boolean
          description: Emissão síncrona de MDFe em produção
        mdfe_sincrono_homologacao:
          type: boolean
          description: Emissão síncrona de MDFe em homologação

    Empresa:
      type: object
      description: |
        Objeto de resposta da empresa. Alguns campos que são enviados como integer
        no request (inscricao_estadual, inscricao_municipal, numero, cep,
        regime_tributario, id_token_nfce_*, smtp_porta) são retornados como string.
      properties:
        # ── Identificação ──
        id:
          type: integer
          description: ID da empresa
        nome:
          type: string
          description: Razão social da empresa
        nome_fantasia:
          type: string
          description: Nome fantasia
        cnpj:
          type: string
          description: CNPJ da empresa
        cpf:
          type: string
          description: CPF da empresa
        inscricao_estadual:
          type: string
          description: Inscrição estadual
        inscricao_municipal:
          type: string
          description: Inscrição municipal
        regime_tributario:
          type: string
          description: Regime tributário (1=Simples Nacional, 2=Excesso, 3=Normal, 4=MEI)

        # ── Endereço ──
        logradouro:
          type: string
          description: Logradouro do endereço
        numero:
          type: string
          description: Número do endereço
        complemento:
          type: string
          description: Complemento do endereço
        bairro:
          type: string
          description: Bairro
        municipio:
          type: string
          description: Município
        cep:
          type: string
          description: CEP
        uf:
          type: string
          description: UF do endereço
        pais:
          type: string
          description: Nome do país
        codigo_municipio:
          type: string
          description: Código IBGE do município
        codigo_uf:
          type: string
          description: Código do estado
        codigo_pais:
          type: string
          description: Código do país

        # ── Contato ──
        telefone:
          type: string
          description: Telefone da empresa
        email:
          type: string
          description: E-mail de contato

        # ── Habilitações de documentos ──
        habilita_nfe:
          type: boolean
          description: Habilitar emissão de NFe (modelo 55)
        habilita_nfce:
          type: boolean
          description: Habilitar emissão de NFCe (modelo 65)
        habilita_nfse:
          type: boolean
          description: Habilitar emissão de NFSe
        habilita_nfsen_producao:
          type: boolean
          description: Habilitar NFSe Nacional em produção
        habilita_nfsen_homologacao:
          type: boolean
          description: Habilitar NFSe Nacional em homologação
        habilita_cte:
          type: boolean
          description: Habilitar emissão de CTe/CTeOS
        habilita_mdfe:
          type: boolean
          description: Habilitar emissão de MDFe
        habilita_nfcom:
          type: boolean
          description: Habilitar emissão de NFCom
        habilita_manifestacao:
          type: boolean
          description: Habilitar busca de NFe recebidas para manifestação
        habilita_manifestacao_homologacao:
          type: boolean
          description: Habilitar manifestação de NFe em homologação
        habilita_manifestacao_cte:
          type: boolean
          description: Habilitar busca de CTe recebido
        habilita_manifestacao_cte_homologacao:
          type: boolean
          description: Habilitar manifestação de CTe em homologação
        habilita_nfsen_recebidas_producao:
          type: boolean
          description: Habilitar consulta de NFSe Nacional recebidas em produção
        habilita_nfsen_recebidas_homologacao:
          type: boolean
          description: Habilitar consulta de NFSe Nacional recebidas em homologação

        # ── Comunicação ──
        enviar_email_destinatario:
          type: boolean
          description: Habilitar envio de e-mail ao destinatário/tomador após emissão
        enviar_email_homologacao:
          type: boolean
          description: Habilitar envio de e-mail em homologação
        discrimina_impostos:
          type: boolean
          description: Habilitar cálculo automático de impostos totais aproximados

        # ── NFCe ──
        habilita_contingencia_offline_nfce:
          type: boolean
          description: Habilitar contingência offline para NFCe
        habilita_contingencia_epec_nfce:
          type: boolean
          description: Habilitar contingência EPEC para NFCe
        reaproveita_numero_nfce_contingencia:
          type: boolean
          description: Reaproveitar números de NFCe em contingência
        csc_nfce_producao:
          type: string
          description: CSC para NFCe em produção
        id_token_nfce_producao:
          type: string
          description: ID do token CSC em produção
        csc_nfce_homologacao:
          type: string
          description: CSC para NFCe em homologação
        id_token_nfce_homologacao:
          type: string
          description: ID do token CSC em homologação

        # ── DANFE ──
        orientacao_danfe:
          type: string
          description: Orientação do DANFE (portrait ou landscape)
        recibo_danfe:
          type: boolean
          description: Exibir recibo no DANFE
        exibe_sempre_ipi_danfe:
          type: boolean
          description: Sempre exibir colunas de IPI no DANFE
        exibe_issqn_danfe:
          type: boolean
          description: Exibir dados de ISSQN no DANFE
        exibe_impostos_adicionais_danfe:
          type: boolean
          description: Exibir impostos adicionais no DANFE
        exibe_fatura_danfe:
          type: boolean
          description: Exibir fatura no DANFE
        exibe_rastro_danfe:
          type: boolean
          description: Exibir rastreabilidade no DANFE
        exibe_unidade_tributaria_danfe:
          type: boolean
          description: Exibir unidade tributária no DANFE
        exibe_desconto_itens:
          type: boolean
          description: Exibir desconto dos itens
        exibe_sempre_volumes_danfe:
          type: boolean
          description: Sempre exibir volumes no DANFE
        exibe_composicao_carga_mdfe:
          type: boolean
          description: Exibir composição de carga no MDFe
        mostrar_danfse_badge:
          type: boolean
          description: Exibir badge do Focus no DANFSe

        # ── Numeração de documentos ──
        proximo_numero_nfe_producao:
          type: string
        proximo_numero_nfe_homologacao:
          type: string
        serie_nfe_producao:
          type: string
        serie_nfe_homologacao:
          type: string
        proximo_numero_nfce_producao:
          type: string
        proximo_numero_nfce_homologacao:
          type: string
        serie_nfce_producao:
          type: string
        serie_nfce_homologacao:
          type: string
        proximo_numero_nfse_producao:
          type: string
        proximo_numero_nfse_homologacao:
          type: string
        serie_nfse_producao:
          type: string
        serie_nfse_homologacao:
          type: string
        proximo_numero_nfsen_producao:
          type: string
        proximo_numero_nfsen_homologacao:
          type: string
        serie_nfsen_producao:
          type: string
        serie_nfsen_homologacao:
          type: string
        proximo_numero_nfcom_producao:
          type: string
        proximo_numero_nfcom_homologacao:
          type: string
        serie_nfcom_producao:
          type: string
        serie_nfcom_homologacao:
          type: string
        proximo_numero_cte_producao:
          type: string
        proximo_numero_cte_homologacao:
          type: string
        serie_cte_producao:
          type: string
        serie_cte_homologacao:
          type: string
        proximo_numero_cte_os_producao:
          type: string
        proximo_numero_cte_os_homologacao:
          type: string
        serie_cte_os_producao:
          type: string
        serie_cte_os_homologacao:
          type: string
        proximo_numero_mdfe_producao:
          type: string
        proximo_numero_mdfe_homologacao:
          type: string
        serie_mdfe_producao:
          type: string
        serie_mdfe_homologacao:
          type: string

        # ── Certificado digital ──
        certificado_valido_de:
          type: string
          format: date-time
          description: Data de início de validade do certificado digital
        certificado_valido_ate:
          type: string
          format: date-time
          description: Data de expiração do certificado digital
        certificado_cnpj:
          type: string
          description: CNPJ presente no certificado digital
        certificado_especifico:
          type: boolean
          description: Se o certificado é específico da empresa

        # ── Logo ──
        caminho_logo:
          type: string
          description: Caminho da logo no servidor

        # ── Responsável ──
        nome_responsavel:
          type: string
          description: Nome do responsável
        cpf_responsavel:
          type: string
          description: CPF do responsável
        cargo_responsavel:
          type: string
          description: Cargo do responsável
        login_responsavel:
          type: string
          description: Login da prefeitura
        senha_responsavel_preenchida:
          type: boolean
          description: Indica se a senha do responsável está preenchida

        # ── Contabilidade ──
        cpf_cnpj_contabilidade:
          type: string
          description: CPF/CNPJ da contabilidade
        data_inicio_recebimento_nfe:
          type: string
          description: Data de início de recebimento de NFe
        data_inicio_recebimento_cte:
          type: string
          description: Data de início de recebimento de CTe
        data_ultima_emissao:
          type: string
          description: Data da última emissão de documento

        # ── Fiscal ──
        habilita_csrt_nfe:
          type: boolean
          description: Habilitar CSRT para NFe

        # ── Processamento síncrono ──
        nfe_sincrono:
          type: boolean
          description: Emissão síncrona de NFe em produção
        nfe_sincrono_homologacao:
          type: boolean
          description: Emissão síncrona de NFe em homologação
        mdfe_sincrono:
          type: boolean
          description: Emissão síncrona de MDFe em produção
        mdfe_sincrono_homologacao:
          type: boolean
          description: Emissão síncrona de MDFe em homologação

        # ── SMTP ──
        smtp_endereco:
          type: string
          description: Endereço do servidor SMTP
        smtp_dominio:
          type: string
          description: Domínio HELO do SMTP
        smtp_porta:
          type: string
          description: Porta do servidor SMTP
        smtp_autenticacao:
          type: string
          description: Método de autenticação SMTP
        smtp_login:
          type: string
          description: Login de autenticação SMTP
        smtp_remetente:
          type: string
          description: Endereço "de" do e-mail
        smtp_responder_para:
          type: string
          description: Endereço de resposta (reply-to)
        smtp_senha:
          type: string
          description: Senha SMTP (pode ser retornado vazio por segurança)
        smtp_modo_verificacao_openssl:
          type: string
          description: Modo de verificação OpenSSL
        smtp_habilita_starttlls:
          type: boolean
          description: Habilitar STARTTLS (nota - nome do campo na API retorna com double L)
        smtp_ssl:
          type: boolean
          description: Usar conexão SSL
        smtp_tls:
          type: boolean
          description: Usar conexão TLS

        # ── Tokens ──
        token_producao:
          type: string
          description: Token de API para ambiente de produção
        token_homologacao:
          type: string
          description: Token de API para ambiente de homologação

    Erro:
      type: object
      properties:
        codigo:
          type: string
          description: Código do erro
        mensagem:
          type: string
          description: Mensagem descritiva do erro
        erros:
          type: array
          description: Lista detalhada de erros de validação
          items:
            type: object
            properties:
              codigo:
                type: string
                description: Código do erro
              mensagem:
                type: string
                description: Mensagem descritiva do erro
              campo:
                type: string
                description: Nome do campo com erro
