openapi: 3.0.3

info:
  title: FocusNFe API - Empresas
  description: |
    Endpoints para gerenciamento de empresas (revenda).
    Todos os endpoints requerem autenticação com **master key**.
  version: 2.0.0
  contact:
    name: FocusNFe
    url: https://focusnfe.com.br

servers:
  - url: https://api.focusnfe.com.br/v2
    description: Produção (único ambiente disponível para empresas)

security:
  - basicAuth: []

paths:
  /empresas:
    get:
      operationId: listarEmpresas
      summary: Listar empresas
      description: |
        Lista as empresas cadastradas na revenda. Retorna até 50 registros por página.
        O header `X-Total-Count` indica o total de registros disponíveis.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/listarempresas
      parameters:
        - name: cnpj
          in: query
          description: Número do CNPJ da empresa (somente números)
          schema:
            type: string
            pattern: '^[0-9]{14}$'
        - name: cpf
          in: query
          description: Número do CPF da empresa (somente números)
          schema:
            type: string
            pattern: '^[0-9]{11}$'
        - name: offset
          in: query
          description: Deslocamento para paginação. Cada página retorna até 50 registros.
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Lista de empresas
          headers:
            X-Total-Count:
              description: Total de ocorrências da consulta
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'

    post:
      operationId: criarEmpresa
      summary: Criar empresa
      description: |
        Cria uma nova empresa na revenda. Use `dry_run=1` para simular a criação
        sem persistir os dados no banco.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/criarempresa
      parameters:
        - name: dry_run
          in: query
          description: Simula a criação da empresa sem persistir os dados
          schema:
            type: integer
            enum: [1]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaRequest'
      responses:
        '200':
          description: Requisição processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '422':
          description: O servidor entendeu a requisição, mas os dados são inválidos ou não podem ser processados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'

  /empresas/{id}:
    get:
      operationId: consultarEmpresa
      summary: Consultar empresa por ID
      description: Retorna os dados completos de uma empresa específica.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/consultarempresaporid
      parameters:
        - $ref: '#/components/parameters/empresaId'
      responses:
        '200':
          description: Dados da empresa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrada
        '422':
          description: Permissão negada (empresa não pertence à revenda)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: Empresa não encontrada como propriedade da revenda

    put:
      operationId: atualizarEmpresa
      summary: Atualizar empresa
      description: |
        Atualiza os dados de uma empresa. Todos os campos são opcionais;
        apenas os campos enviados serão atualizados.
        Use `dry_run=1` para simular a atualização.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/atualizarempresa
      parameters:
        - $ref: '#/components/parameters/empresaId'
        - name: dry_run
          in: query
          description: Simula a alteração da empresa sem persistir os dados
          schema:
            type: integer
            enum: [1]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmpresaRequest'
      responses:
        '200':
          description: Requisição processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrada
        '422':
          description: O servidor entendeu a requisição, mas os dados são inválidos ou não podem ser processados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'

    delete:
      operationId: excluirEmpresa
      summary: Excluir empresa
      description: |
        Remove permanentemente uma empresa da revenda.
        **Esta operação não é reversível.**
        Retorna os dados completos da empresa excluída.
      externalDocs:
        description: Documentação oficial
        url: https://doc.focusnfe.com.br/reference/excluirempresa
      parameters:
        - $ref: '#/components/parameters/empresaId'
      responses:
        '200':
          description: Empresa excluída (retorna dados da empresa removida)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '401':
          description: Não autorizado
          content:
            text/html:
              schema:
                type: string
                example: 'HTTP Basic: Access denied'
        '404':
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Empresa não encontrada

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Autenticação via HTTP Basic Auth com **master key**.
        Utilize o master token como usuário e deixe a senha em branco.

  parameters:
    empresaId:
      name: id
      in: path
      required: true
      description: Identificador único da empresa
      schema:
        type: string
      example: '123'

  schemas:
    EmpresaRequest:
      type: object
      description: Dados para criação ou atualização de empresa. Todos os campos são opcionais na atualização.
      properties:
        # ── Dados básicos ──
        nome:
          type: string
          description: Razão social da empresa
        nome_fantasia:
          type: string
          description: Nome fantasia
        cnpj:
          type: string
        cpf:
          type: string
        inscricao_estadual:
          type: integer
          description: Inscrição estadual
        inscricao_municipal:
          type: integer
          description: Inscrição municipal
        regime_tributario:
          type: integer
          enum: [1, 2, 3, 4]
          description: >-
            Regime tributário. Valores possíveis:
            1 - Simples Nacional,
            2 - Simples Nacional - Excesso de sublimite de receita bruta,
            3 - Regime Normal,
            4 - Simples Nacional - MEI

        # ── Endereço ──
        logradouro:
          type: string
          description: Logradouro do endereço
        numero:
          type: integer
          description: Número do endereço
        complemento:
          type: string
          description: Complemento do endereço
        bairro:
          type: string
          description: Bairro do endereço
        municipio:
          type: string
          description: Município do endereço
        cep:
          type: integer
          description: CEP do endereço
        uf:
          type: string
          description: UF do endereço

        # ── Contato ──
        telefone:
          type: string
          description: Telefone da empresa
        email:
          type: string
          format: email
          description: Email de contato da empresa

        # ── Habilitações de documentos ──
        habilita_nfe:
          type: boolean
          description: Habilita emissão de NFe (modelo 55)
        habilita_nfce:
          type: boolean
          description: Habilita emissão de NFCe (modelo 65)
        habilita_nfse:
          type: boolean
          description: >-
            Habilita emissão de NFSe (Nota Fiscal de Serviço Eletrônica).
            Não pode estar habilitado simultaneamente com NFSe Nacional em produção (habilita_nfsen_producao).
        habilita_nfsen_producao:
          type: boolean
          description: >-
            Habilita emissão de NFSe Nacional em produção.
            Não pode estar habilitado simultaneamente com NFSe (habilita_nfse).
        habilita_nfsen_homologacao:
          type: boolean
          description: Habilita emissão de NFSe Nacional em homologação
        habilita_cte:
          type: boolean
          description: Habilita emissão de CTe/CTeOS (Conhecimento de Transporte)
        habilita_mdfe:
          type: boolean
          description: Habilita emissão de MDFe (Manifesto Eletrônico de Documentos Fiscais)
        habilita_nfcom:
          type: boolean
          description: Habilita emissão de NFCom (Nota Fiscal de Comunicação)
        habilita_manifestacao:
          type: boolean
          description: Habilita busca de NFe recebidas para manifestação do destinatário (MDe)
        habilita_manifestacao_cte:
          type: boolean
          description: Habilita busca de CTes recebidas
        habilita_nfsen_recebidas_producao:
          type: boolean
          description: >-
            Informa se empresa será habilitada para consulta de NFSe Nacional recebidas
            em ambiente de produção. Requer certificado digital com CNPJ idêntico ao da empresa.
        habilita_nfsen_recebidas_homologacao:
          type: boolean
          description: >-
            Informa se empresa será habilitada para consulta de NFSe Nacional recebidas
            em ambiente de homologação. Requer certificado digital com CNPJ idêntico ao da empresa.

        # ── Comunicação ──
        enviar_email_destinatario:
          type: boolean
          description: Habilita envio de e-mail ao destinatário/tomador após emissão (produção)
        enviar_email_homologacao:
          type: boolean
          description: Habilita envio de e-mail ao destinatário em homologação
        discrimina_impostos:
          type: boolean
          description: >-
            Habilita o cálculo automático de impostos totais aproximados
            (Lei da Transparência). Não utilizado para NFSe.

        # ── NFCe ──
        habilita_contingencia_offline_nfce:
          type: boolean
          description: Habilita contingência offline de NFCe
        reaproveita_numero_nfce_contingencia:
          type: boolean
          description: Reaproveita número de NFCe emitido em contingência
        csc_nfce_producao:
          type: string
          description: >-
            CSC para emissão de NFCe em produção.
            Necessário para emitir NFCe em produção (gerar no SEFAZ do estado).
        id_token_nfce_producao:
          type: integer
          description: >-
            ID do CSC para NFCe em produção.
            Necessário para emitir NFCe em produção (gerar no SEFAZ do estado).
        csc_nfce_homologacao:
          type: string
          description: CSC para emissão de NFCe em homologação
        id_token_nfce_homologacao:
          type: integer
          description: ID do CSC para NFCe em homologação

        # ── DANFe ──
        orientacao_danfe:
          type: string
          enum: [portrait, landscape]
          description: 'Orientação da DANFe. Valores possíveis: portrait (retrato) ou landscape (paisagem).'
        recibo_danfe:
          type: boolean
          description: Exibe recibo na DANFe
        exibe_sempre_ipi_danfe:
          type: boolean
          description: Imprime sempre colunas do IPI na DANFe
        exibe_issqn_danfe:
          type: boolean
          description: Mostra dados do ISSQN na DANFe
        exibe_impostos_adicionais_danfe:
          type: boolean
          description: >-
            Imprime impostos adicionais na DANFe
            (II, PIS, COFINS, ICMS UF Destino, ICMS UF Remetente, valor total de tributos)
        exibe_rastro_danfe:
          type: boolean
          description: Exibe dados de rastreabilidade na DANFe
        exibe_unidade_tributaria_danfe:
          type: boolean
          description: Exibe unidade tributária na DANFe
        exibe_sempre_volumes_danfe:
          type: boolean
          description: Mostra sempre volumes na DANFe
        exibe_composicao_carga_mdfe:
          type: boolean
          description: Mostra composição da carga na MDFe
        mostrar_danfse_badge:
          type: boolean
          description: >-
            Define exibição de distintivo (badge) da Focus na DANFSe.
            Se verdadeiro, badge é exibido; se falso, emissão white label.

        # ── Numeração de documentos ──
        proximo_numero_nfe_producao:
          type: string
          description: Próximo número da NFe a ser emitida em produção (calculado automaticamente)
        proximo_numero_nfe_homologacao:
          type: string
          description: Próximo número da NFe a ser emitida em homologação (calculado automaticamente)
        serie_nfe_producao:
          type: string
          default: '1'
          description: 'Série da NFe em produção (padrão: 1)'
        serie_nfe_homologacao:
          type: string
          default: '1'
          description: 'Série da NFe em homologação (padrão: 1)'
        proximo_numero_nfce_producao:
          type: string
          description: Próximo número da NFCe a ser emitida em produção (calculado automaticamente)
        proximo_numero_nfce_homologacao:
          type: string
          description: Próximo número da NFCe a ser emitida em homologação (calculado automaticamente)
        serie_nfce_producao:
          type: string
          default: '1'
          description: 'Série da NFCe em produção (padrão: 1)'
        serie_nfce_homologacao:
          type: string
          default: '1'
          description: 'Série da NFCe em homologação (padrão: 1)'
        proximo_numero_nfse_producao:
          type: string
          description: Próximo número do RPS da NFSe em produção (calculado automaticamente)
        proximo_numero_nfse_homologacao:
          type: string
          description: Próximo número do RPS da NFSe em homologação (calculado automaticamente)
        serie_nfse_producao:
          type: string
          description: Série do RPS da NFSe em produção. Algumas prefeituras não utilizam.
        serie_nfse_homologacao:
          type: string
          description: Série do RPS da NFSe em homologação
        proximo_numero_nfsen_producao:
          type: string
          description: Próximo número do RPS da NFSe Nacional em produção (calculado automaticamente)
        proximo_numero_nfsen_homologacao:
          type: string
          description: Próximo número do RPS da NFSe Nacional em homologação (calculado automaticamente)
        serie_nfsen_producao:
          type: string
          description: Série do RPS para NFSe Nacional em produção. Algumas prefeituras não utilizam.
        serie_nfsen_homologacao:
          type: string
          description: Série do RPS para NFSe Nacional em homologação. Algumas prefeituras não utilizam.
        proximo_numero_cte_producao:
          type: string
          description: Próximo número da CTe a ser emitida em produção (calculado automaticamente)
        proximo_numero_cte_homologacao:
          type: string
          description: Próximo número da CTe a ser emitida em homologação (calculado automaticamente)
        serie_cte_producao:
          type: string
          default: '1'
          description: 'Série da CTe em produção (padrão: 1)'
        serie_cte_homologacao:
          type: string
          default: '1'
          description: 'Série da CTe em homologação (padrão: 1)'
        proximo_numero_cte_os_producao:
          type: string
          description: Próximo número da CTeOS a ser emitida em produção (calculado automaticamente)
        proximo_numero_cte_os_homologacao:
          type: string
          description: Próximo número da CTeOS a ser emitida em homologação (calculado automaticamente)
        serie_cte_os_producao:
          type: string
          default: '1'
          description: 'Série da CTeOS em produção (padrão: 1)'
        serie_cte_os_homologacao:
          type: string
          default: '1'
          description: 'Série da CTeOS em homologação (padrão: 1)'
        proximo_numero_mdfe_producao:
          type: string
          description: Próximo número da MDFe a ser emitida em produção (calculado automaticamente)
        proximo_numero_mdfe_homologacao:
          type: string
          description: Próximo número da MDFe a ser emitida em homologação (calculado automaticamente)
        serie_mdfe_producao:
          type: string
          default: '1'
          description: 'Série da MDFe em produção (padrão: 1)'
        serie_mdfe_homologacao:
          type: string
          default: '1'
          description: 'Série da MDFe em homologação (padrão: 1)'
        proximo_numero_nfcom_producao:
          type: string
          description: Próximo número da NFCom a ser emitida em produção (calculado automaticamente)
        proximo_numero_nfcom_homologacao:
          type: string
          description: Próximo número da NFCom a ser emitida em homologação (calculado automaticamente)
        serie_nfcom_producao:
          type: string
          default: '1'
          description: 'Série da NFCom em produção (padrão: 1)'
        serie_nfcom_homologacao:
          type: string
          default: '1'
          description: 'Série da NFCom em homologação (padrão: 1)'

        # ── Certificado digital ──
        arquivo_certificado_base64:
          type: string
          description: Arquivo PFX/P12 em base64
        senha_certificado:
          type: string
          description: Senha do certificado digital. Obrigatória apenas se informado arquivo_certificado_base64.

        # ── Logo ──
        arquivo_logo_base64:
          type: string
          description: Logomarca da empresa para DANFE. Utilize PNG até 200x200 pixels. Nem todas as prefeituras aceitam.
        delete_logo:
          type: boolean
          description: Quando verdadeiro, remove a logo existente da empresa

        # ── Responsável ──
        nome_responsavel:
          type: string
          description: Nome do responsável pela empresa
        cpf_responsavel:
          type: string
          description: CPF do responsável pela empresa
        login_responsavel:
          type: string
          description: >-
            Login da prefeitura. Necessário para emissão de NFSe
            em alguns municípios sem certificado digital.
        senha_responsavel:
          type: string
          description: >-
            Senha da prefeitura. Necessária em alguns municípios sem certificado digital.
            Por segurança, não é exibida após ser salva.
        senha_responsavel_preenchida:
          type: boolean
          description: Indica se o campo senha_responsavel está preenchido

        # ── Contabilidade ──
        cpf_cnpj_contabilidade:
          type: string
          description: 'CPF/CNPJ da contabilidade da empresa. Alguns estados exigem esta informação (ex.: BA).'
        data_inicio_recebimento_nfe:
          type: string
          format: date
          description: >-
            Data inicial para recebimento de NFe (MDe).
            Documentos anteriores serão ignorados e não cobrados.
            Após definido, não pode ser alterado.
        data_inicio_recebimento_cte:
          type: string
          format: date
          description: >-
            Data inicial para recebimento de CTe.
            Documentos anteriores serão ignorados e não cobrados.
            Após definido, não pode ser alterado.

        # ── SMTP ──
        smtp_endereco:
          type: string
          description: Endereço do servidor SMTP
        smtp_dominio:
          type: string
          description: Domínio do servidor SMTP (HELO)
        smtp_porta:
          type: integer
          description: Porta do servidor SMTP
        smtp_autenticacao:
          type: string
          enum: [plain, login, cram_md5]
          description: Tipo de autenticação do SMTP
        smtp_login:
          type: string
          description: Login do servidor SMTP (se exigir autenticação)
        smtp_senha:
          type: string
          description: Senha do servidor SMTP (se exigir autenticação)
        smtp_remetente:
          type: string
          description: Remetente (from) dos e-mails enviados
        smtp_responder_para:
          type: string
          description: Endereço de resposta (reply-to) dos e-mails enviados
        smtp_modo_verificacao_openssl:
          type: string
          enum: [peer, none]
          description: Modo de verificação do OpenSSL
        smtp_habilita_starttls:
          type: boolean
          description: Utiliza STARTTLS ao conectar no SMTP
        smtp_ssl:
          type: boolean
          description: Utiliza SSL ao conectar no SMTP
        smtp_tls:
          type: boolean
          description: Utiliza TLS ao conectar no SMTP

        # ── Processamento síncrono ──
        nfe_sincrono:
          type: boolean
          description: >-
            Define emissão síncrona da NFe. Se verdadeiro, a autorização/rejeição
            ocorre na mesma requisição. Em caso de SEFAZ indisponível e contingência
            desligada, não há alternância automática; será necessário reenviar quando
            a contingência estiver disponível.
        nfe_sincrono_homologacao:
          type: boolean
          description: Define emissão síncrona da NFe em homologação
        mdfe_sincrono:
          type: boolean
          description: >-
            Define emissão síncrona da MDFe. Se verdadeiro, a autorização/rejeição
            ocorre na mesma requisição. Em indisponibilidade, não alterna automaticamente
            para contingência desligada.
        mdfe_sincrono_homologacao:
          type: boolean
          description: Define emissão síncrona da MDFe em homologação

    Empresa:
      type: object
      description: |
        Objeto de resposta da empresa. Alguns campos que são enviados como integer
        no request (inscricao_estadual, inscricao_municipal, numero, cep,
        regime_tributario, id_token_nfce_*, smtp_porta) são retornados como string.
      properties:
        # ── Identificação ──
        id:
          type: integer
          description: ID da empresa
        nome:
          type: string
          description: Razão social da empresa
        nome_fantasia:
          type: string
          description: Nome fantasia
        cnpj:
          type: string
        cpf:
          type: string
        inscricao_estadual:
          type: string
          description: Inscrição estadual
        inscricao_municipal:
          type: string
          description: Inscrição municipal
        regime_tributario:
          type: string
          description: >-
            Regime tributário. Valores possíveis:
            1 - Simples Nacional,
            2 - Simples Nacional - Excesso de sublimite de receita bruta,
            3 - Regime Normal,
            4 - Simples Nacional - MEI

        # ── Endereço ──
        logradouro:
          type: string
          description: Logradouro do endereço
        numero:
          type: string
          description: Número do endereço
        complemento:
          type: string
          description: Complemento do endereço
        bairro:
          type: string
          description: Bairro do endereço
        municipio:
          type: string
          description: Município do endereço
        cep:
          type: string
          description: CEP do endereço
        uf:
          type: string
          description: UF do endereço
        pais:
          type: string
        codigo_municipio:
          type: string
        codigo_uf:
          type: string
        codigo_pais:
          type: string

        # ── Contato ──
        telefone:
          type: string
          description: Telefone da empresa
        email:
          type: string
          description: Email de contato da empresa

        # ── Habilitações de documentos ──
        habilita_nfe:
          type: boolean
          description: Habilita emissão de NFe (modelo 55)
        habilita_nfce:
          type: boolean
          description: Habilita emissão de NFCe (modelo 65)
        habilita_nfse:
          type: boolean
          description: Habilita emissão de NFSe
        habilita_nfsen_producao:
          type: boolean
          description: Habilita emissão de NFSe Nacional em produção
        habilita_nfsen_homologacao:
          type: boolean
          description: Habilita emissão de NFSe Nacional em homologação
        habilita_cte:
          type: boolean
          description: Habilita emissão de CTe/CTeOS
        habilita_mdfe:
          type: boolean
          description: Habilita emissão de MDFe
        habilita_nfcom:
          type: boolean
          description: Habilita emissão de NFCom
        habilita_manifestacao:
          type: boolean
          description: Habilita busca de NFe recebidas para manifestação do destinatário (MDe)
        habilita_manifestacao_homologacao:
          type: boolean
        habilita_manifestacao_cte:
          type: boolean
          description: Habilita busca de CTes recebidas
        habilita_manifestacao_cte_homologacao:
          type: boolean
        habilita_nfsen_recebidas_producao:
          type: boolean
          description: >-
            Informa se empresa será habilitada para consulta de NFSe Nacional recebidas
            em ambiente de produção. Requer certificado digital com CNPJ idêntico ao da empresa.
        habilita_nfsen_recebidas_homologacao:
          type: boolean
          description: >-
            Informa se empresa será habilitada para consulta de NFSe Nacional recebidas
            em ambiente de homologação. Requer certificado digital com CNPJ idêntico ao da empresa.

        # ── Comunicação ──
        enviar_email_destinatario:
          type: boolean
          description: Habilita envio de e-mail ao destinatário/tomador após emissão (produção)
        enviar_email_homologacao:
          type: boolean
          description: Habilita envio de e-mail ao destinatário em homologação
        discrimina_impostos:
          type: boolean
          description: >-
            Habilita o cálculo automático de impostos totais aproximados
            (Lei da Transparência). Não utilizado para NFSe.

        # ── NFCe ──
        habilita_contingencia_offline_nfce:
          type: boolean
          description: Habilita contingência offline de NFCe
        habilita_contingencia_epec_nfce:
          type: boolean
        reaproveita_numero_nfce_contingencia:
          type: boolean
          description: Reaproveita número de NFCe emitido em contingência
        csc_nfce_producao:
          type: string
          description: CSC para emissão de NFCe em produção
        id_token_nfce_producao:
          type: string
          description: ID do CSC para NFCe em produção
        csc_nfce_homologacao:
          type: string
          description: CSC para emissão de NFCe em homologação
        id_token_nfce_homologacao:
          type: string
          description: ID do CSC para NFCe em homologação

        # ── DANFe ──
        orientacao_danfe:
          type: string
          description: Orientação da DANFe
        recibo_danfe:
          type: boolean
          description: Exibe recibo na DANFe
        exibe_sempre_ipi_danfe:
          type: boolean
          description: Imprime sempre colunas do IPI na DANFe
        exibe_issqn_danfe:
          type: boolean
          description: Mostra dados do ISSQN na DANFe
        exibe_impostos_adicionais_danfe:
          type: boolean
          description: Imprime impostos adicionais na DANFe
        exibe_fatura_danfe:
          type: boolean
        exibe_rastro_danfe:
          type: boolean
          description: Exibe dados de rastreabilidade na DANFe
        exibe_unidade_tributaria_danfe:
          type: boolean
          description: Exibe unidade tributária na DANFe
        exibe_desconto_itens:
          type: boolean
        exibe_sempre_volumes_danfe:
          type: boolean
          description: Mostra sempre volumes na DANFe
        exibe_composicao_carga_mdfe:
          type: boolean
          description: Mostra composição da carga na MDFe
        mostrar_danfse_badge:
          type: boolean
          description: >-
            Define exibição de distintivo (badge) da Focus na DANFSe.
            Se verdadeiro, badge é exibido; se falso, emissão white label.

        # ── Numeração de documentos ──
        proximo_numero_nfe_producao:
          type: string
        proximo_numero_nfe_homologacao:
          type: string
        serie_nfe_producao:
          type: string
        serie_nfe_homologacao:
          type: string
        proximo_numero_nfce_producao:
          type: string
        proximo_numero_nfce_homologacao:
          type: string
        serie_nfce_producao:
          type: string
        serie_nfce_homologacao:
          type: string
        proximo_numero_nfse_producao:
          type: string
        proximo_numero_nfse_homologacao:
          type: string
        serie_nfse_producao:
          type: string
        serie_nfse_homologacao:
          type: string
        proximo_numero_nfsen_producao:
          type: string
        proximo_numero_nfsen_homologacao:
          type: string
        serie_nfsen_producao:
          type: string
        serie_nfsen_homologacao:
          type: string
        proximo_numero_nfcom_producao:
          type: string
        proximo_numero_nfcom_homologacao:
          type: string
        serie_nfcom_producao:
          type: string
        serie_nfcom_homologacao:
          type: string
        proximo_numero_cte_producao:
          type: string
        proximo_numero_cte_homologacao:
          type: string
        serie_cte_producao:
          type: string
        serie_cte_homologacao:
          type: string
        proximo_numero_cte_os_producao:
          type: string
        proximo_numero_cte_os_homologacao:
          type: string
        serie_cte_os_producao:
          type: string
        serie_cte_os_homologacao:
          type: string
        proximo_numero_mdfe_producao:
          type: string
        proximo_numero_mdfe_homologacao:
          type: string
        serie_mdfe_producao:
          type: string
        serie_mdfe_homologacao:
          type: string

        # ── Certificado digital ──
        certificado_valido_de:
          type: string
          format: date-time
        certificado_valido_ate:
          type: string
          format: date-time
        certificado_cnpj:
          type: string
        certificado_especifico:
          type: boolean

        # ── Logo ──
        caminho_logo:
          type: string

        # ── Responsável ──
        nome_responsavel:
          type: string
          description: Nome do responsável pela empresa
        cpf_responsavel:
          type: string
          description: CPF do responsável pela empresa
        cargo_responsavel:
          type: string
        login_responsavel:
          type: string
        senha_responsavel_preenchida:
          type: boolean
          description: Indica se o campo senha_responsavel está preenchido

        # ── Contabilidade ──
        cpf_cnpj_contabilidade:
          type: string
          description: CPF/CNPJ da contabilidade da empresa
        data_inicio_recebimento_nfe:
          type: string
        data_inicio_recebimento_cte:
          type: string
        data_ultima_emissao:
          type: string

        # ── Fiscal ──
        habilita_csrt_nfe:
          type: boolean

        # ── Processamento síncrono ──
        nfe_sincrono:
          type: boolean
          description: Define emissão síncrona da NFe
        nfe_sincrono_homologacao:
          type: boolean
          description: Define emissão síncrona da NFe em homologação
        mdfe_sincrono:
          type: boolean
          description: Define emissão síncrona da MDFe
        mdfe_sincrono_homologacao:
          type: boolean
          description: Define emissão síncrona da MDFe em homologação

        # ── SMTP ──
        smtp_endereco:
          type: string
          description: Endereço do servidor SMTP
        smtp_dominio:
          type: string
          description: Domínio do servidor SMTP (HELO)
        smtp_porta:
          type: string
          description: Porta do servidor SMTP
        smtp_autenticacao:
          type: string
          description: Tipo de autenticação do SMTP
        smtp_login:
          type: string
          description: Login do servidor SMTP
        smtp_remetente:
          type: string
          description: Remetente (from) dos e-mails enviados
        smtp_responder_para:
          type: string
          description: Endereço de resposta (reply-to) dos e-mails enviados
        smtp_modo_verificacao_openssl:
          type: string
          description: Modo de verificação do OpenSSL
        smtp_habilita_starttlls:
          type: boolean
          description: Utiliza STARTTLS ao conectar no SMTP (nome do campo na API com double L)
        smtp_ssl:
          type: boolean
          description: Utiliza SSL ao conectar no SMTP
        smtp_tls:
          type: boolean
          description: Utiliza TLS ao conectar no SMTP

        # ── Tokens ──
        token_producao:
          type: string
        token_homologacao:
          type: string

    Erro:
      type: object
      properties:
        codigo:
          type: string
          description: Código do erro
        mensagem:
          type: string
          description: Mensagem descritiva do erro
        erros:
          type: array
          description: Lista detalhada de erros de validação
          items:
            type: object
            properties:
              codigo:
                type: string
                description: Código do erro
              mensagem:
                type: string
                description: Mensagem descritiva do erro
              campo:
                type: string
                description: Nome do campo com erro
